.container-contato{
    width: 100%;
    min-height: 500px;
    height: 100dvh;
    background-image: url(img/pexels-adrien-olichon-1257089-2387533.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;  
    overflow: hidden;
    gap: 3%;
}
.container-contato::after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
}

.form-container{
    background-image: url(img/Frame\ 31.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 20px;
    
}
.container-form-text{
    padding: 40px;
}
/* Título */
.form-container h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-weight: bolder;
    line-height: 1.3;
}

/* Grupo de inputs padrão (Nome e Assunto) */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 80%;
}

/* Estrutura para deixar Email e Telefone lado a lado */
.input-row {
    display: flex;
    gap: 15px; /* Espaço entre as colunas */
}

/* Labels */
.input-group label {
    color: #f0f0f0;
    font-size: 14px;
}
.error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 5px;
    display: none; /* Escondido por padrão */
}
/* Estilização dos campos de texto e textarea */
.input-group input,
.input-group textarea {
    background-color: #1c1c1c;
    border: 1px solid #333;
    color: #ffffff;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

/* Efeito ao clicar no campo (Focus) */
.input-group input:focus,
.input-group textarea:focus {
    border-color: #0b5ed7; /* Borda azul ao focar */
}

/* Cor do texto de placeholder */
.input-group input::placeholder,
.input-group textarea::placeholder {
    color: #666;
}

/* Ajustes específicos do Textarea */
.input-group textarea {
    resize: none;
    min-height: 100px;
}

/* Botão de Enviar */
.btn-enviar {
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #0b5ed7; /* Azul um pouco mais escuro no hover */
}

.video-form{
    width: 30%;
    height: 70%;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}