.container-embreve{
    width: 100%;
    min-height: 500px;
    height: 100vh;
    background-image: url(img/pexels-adrien-olichon-1257089-2387533.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-embreve::after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
}

.container-texto-embreve{
    width: 70%;
    height: 60%;
    background-color: brown;
    z-index: 2;
}