.container-embreve{
    width: 100%;
    min-height: 500px;
    height: 100dvh;
    background-image: url(img/pexels-adrien-olichon-1257089-2387533.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;  
    overflow: hidden;
}
.container-embreve::after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
}

.container-texto-embreve{
    width: 70%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-embreve{
    height: 80px;
    display: flex;
    background-color: rgba(17, 17, 17, 0.89);
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-radius: 15px;
}
.versao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
}
.versao p{
    font-size: 1.5em;
    white-space: nowrap
}
.versao-buttom{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 56, 56, 1);
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
}
.versao-buttom p{
    font-size: 1.2em;
    font-weight: 600;
    background: linear-gradient(to right, #0988FF 10%, #999999 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.curco{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}
.curco img{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.texto-embreve h1{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}
.texto-embreve p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}
.patrocinador{
    width: 100%;
    height: 17%;
    z-index: 1;
    position: relative;
}

.patrocinador .slider{
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 20% 90%,
        transparent
    );
     will-change: transform;
}
.patrocinador .slider .list{
    display: flex;
    width: 100%;
    height: 70%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.patrocinador .slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (50s / var(--quantity)) * (var(--position) - 1) - 50s)!important;
}

.patrocinador .div-img-item{
  width: 100%;
  height: 100%;
  min-height: 150px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.patrocinador .img-item {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: relative;
}
.patrocinador .img-item::after{
  border-radius: 15px ;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.patrocinador .img1{background-image: url(img/logopatro1.webp);}
.patrocinador .img2{background-image: url(img/logopatro2.webp);}
.patrocinador .img3{background-image: url(img/logopatro3.webp);}
.patrocinador .img4{background-image: url(img/logopatro1.webp);}
.patrocinador .img5{background-image: url(img/logopatro2.webp);}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 50s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}