.container-embreve{
    width: 100%;
    min-height: 500px;
    height: 100vh;
    background-image: url(img/pexels-adrien-olichon-1257089-2387533.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-embreve::after{
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
}

.container-texto-embreve{
    width: 70%;
    height: 60%;
    z-index: 2;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-embreve{
    height: 15%;
    display: flex;
    background-color: rgba(17, 17, 17, 0.89);
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-radius: 15px;
}
.versao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
}
.versao p{
    font-size: 1.5em;
    white-space: nowrap
}
.versao-buttom{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 56, 56, 1);
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
}
.curco{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}
.curco img{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.texto-embreve h1{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}
.texto-embreve p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}
.patrocinador{
    width: 100%;
    height: 20%;
    background-color: blue;
}